<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myles.testingwaters">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/water"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SetupActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ResourceActivity"
            android:parentActivityName=".SetupActivity"/>
        <activity android:name=".LoginActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AboutActivity"
            android:parentActivityName=".LoginActivity"
            />
    </application>

</manifest>